*{
  font-family: 'Rubik', sans-serif;
}
.icon-loc{
  /* transform: scale(0.7); */
}
.loacmark{
  /* background-color: aqua; */
  margin: 0%;

  /* transform: translateX(-23px); */

}
.map{
  width: 100%;
  height:70vh;

}
.input-group{
  width: 35% ;
  font-size: 18px; 
}

.form-container{
  color: aliceblue;
  display: flex;
  width: 100%;
  background-image: url('./images/pattern-bg.png');
  height: 30vh;
}
.content{
  margin-top: 0.5cm;
  width: 100%;
  align-self: flex-start;
  height: 100px;
  justify-content: space-around;
}
.card{
  border-radius: 0.8em;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 80%;
  min-height: 16vh;
  left: 10%;
  top: 22vh;
  z-index: 999;

}

.data-container{
  padding: 25px ;
  display: flex;
}
.data-container .data-column:not(:first-child){
  border-left: 1px solid rgb(219, 215, 215);
  padding-left: 25px;
  width: 100%;
}

.data-container .data-column:first-child{
  width: 100%
}
.data-container .data-column div:first-child{
  color: hsl(0, 0%, 59%) ;
  font-weight: 500;
  font-size: small;
}
.data-container .data-column div:nth-child(2){
  color: hsl(0, 0%, 17%);
  font-weight: 700;
  font-size: large;
  /* background-color: yellow; */
  width: 60%;
}
.input-text{
  height: 1.3cm;
  border: 0ch;
}

.load-spin{
  align-self: center;
}
.map-load{
  filter: blur(8px);
  background-image: url('./images/map.PNG');
}





@media only screen and (max-width: 375px) {
 .form-container{
   height:35vh ;
 }
  .input-group{
    margin-top: 20px;
    width: 90% ;
    font-size: 18px; 
  }
  .content{
    margin-top:   0.7cm ;
    z-index: 99999999;
  }
  .map{
    width: 100%;
    height:65vh;
  
  }
  .card{

    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    width: 90%;
    /* min-height: 16vh; */
    left: 5%;
    top: 19vh;
    z-index: 999;
  
  }
  
  .data-container{
    padding: 12px ;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .data-container .data-column:not(:first-child){
    border-left: none ;
    padding-top: 12px;
    padding-left: 0%;
    width: 100%;
  }
  
  .data-container .data-column{
    width: 100% ;
    /* background-color: rgb(84, 156, 16); */
  }
  .data-container .data-column div:first-child{
    color: hsl(0, 0%, 59%) ;
    font-weight: 500;
    font-size: small;
    /* background-color: aqua; */
    width: 100%
  }
  .data-container .data-column div:nth-child(2){
    color: hsl(0, 0%, 17%);
    font-weight: 700;
    font-size: large;
    /* background-color: yellow; */
    width: 100%;
  }
}